

button::-moz-focus-inner {
  border: 0;
}
#root {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background-color: #9900cc;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  border-bottom: 1px solid #ffffff;
}

.App-link {
  color: #09d3ac;
}

.elapsedString {
  font-family: monospace;
}

.mainTimer .elapsedString {
  font-size: 40px;
  padding: 20px;
}

.startButton {
  background-color: green;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  outline: none;
  opacity: 0.77;
  color: chartreuse;
  border: 2px solid #9900cc;
}

.stopButton {
  background-color: red;
  height:80px;
  width: 80px;
  border-radius: 50%;
  outline: none;
  opacity: 0.77;
  color: #fff;
  border: 2px solid #9900cc;
}

.lapButton {
  background-color: silver;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  outline: none;
  opacity: 0.77;
  color: #fff;
  border: 2px solid #9900cc;
}

.resetButton {
  background-color: silver;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  outline: none;
  opacity: 0.77;
  color: #fff;
  border: 2px solid #9900cc;
}

.pane {
  padding: .5em 2em;
  color: #333;
  line-height: 1.52;
  max-width: 22em;
  height: 15em;
  overflow-y: scroll;
  scrollbar-color: #7f7f7f #9900cc;
  scrollbar-width: thin;
}

.scroller {
  scrollbar-color: #7f7f7f #9900cc;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #9900cc; 
}

::-webkit-scrollbar-thumb {
  background: #9900cc;
  border-right: 1px solid white;
}

.lapBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.elapsedString {
  grid-column: 1 / 3;
}

.buttonBoxStart {
  width: 80px;
  height: 80px;
  background-color: green;
  padding: 2px;
  border-radius: 50%;
  opacity: 0.77;
  margin: auto;
}

.buttonBoxStop {
  width: 80px;
  height: 80px;
  background-color: red;
  padding: 2px;
  border-radius: 50%;
  opacity: 0.77;
  margin: auto;
}
.buttonBoxLap {
  width: 80px;
  height: 80px;
  background-color: silver;
  padding: 2px;
  border-radius: 50%;
  opacity: 0.77;
  margin: auto;
}

.buttonBoxReset {
  width: 80px;
  height: 80px;
  background-color: silver;
  padding: 2px;
  border-radius: 50%;
  opacity: 0.77;
  margin: auto;
}