
#root {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

.App-link {
  color: #09d3ac;
}

.elapsedString {
  font-family: monospace;
}

.mainTimer .elapsedString {
  background-color: tomato;
  font-size: 50px;
  padding: 20px;
}
