
#root {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background-color: #9900cc;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  border-bottom: 1px solid #ffffff;
}

.App-link {
  color: #09d3ac;
}

.elapsedString {
  font-family: monospace;
}

.mainTimer .elapsedString {
  font-size: 40px;
  padding: 20px;
}

.startButton {
  background-color: green;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  outline: none;
}

.stopButton {
  background-color: red;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  outline: none;
}

.lapButton {
  background-color: silver;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  outline: none;
}

.resetButton {
  background-color: silver;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  outline: none;
}

